.augmented__title {
    color: #5E3085;
    margin-bottom: 30px;
    font-size: 44px;
}

.augmented__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.augmented__steps li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.augmented__step{
    width: 80px;
}

.augmented__number {
    font-size: 24px;
    font-weight: bold;
    color: #5E3085;
}

.augmented__link img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 0 #D7DF8E;
}

.augmented__link img:hover {
    transform: scale(0.98);
    transition: transform 0.3s ease;
}

.augmented__image {
    width: 30%;
}

.augmented__img-container {
    display: flex;
    justify-content: center;
    background-image: url("/img/butterfly-green.png");
    background-repeat: no-repeat;
    background-position: 100px 50px;
}