.augmented__title {
    color: #5E3085;
    margin-bottom: 30px;
}

.augmented__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.augmented__steps li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.augmented__step{
    width: 80px;
}

.augmented__number {
    font-size: 24px;
    font-weight: bold;
    color: #5E3085;
}

.augmented__link img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 0 #D7DF8E;
}

.augmented__image {
    width: 30%;
}