* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: "Bitter", serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
}

main {
    padding-top: 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8EBFBB;
    padding: 10px 20px;
    background-image: url("img/logo_fondo.png");
    background-position: 890px;
    background-repeat: no-repeat;
    background-size: contain;
}

.nav__logo {
    width: 15%;
}

.nav__items {
    display: flex;
    gap: 30px;
    margin-right: 300px;
}

.nav__item a {
    color: #5E3085;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    display: block;
    cursor: pointer;
}

.nav__item a:hover {
    text-decoration: underline;
}

.hero {
    display: flex;
}

.hero__container {
    width: 50%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.hero__container__butterfly {
    background-image: url("img/butterfly-green.png");
    background-repeat: no-repeat;
    background-position: right 100px;
}

.hero__container__image {
    align-items: center;
}

.hero__title {
    font-size: 62px;
    font-family: "Acme", sans-serif;
    color: #5E3085;
}

.hero__description {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
}

.hero__image {
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 20px 20px 0 #D7DF8E;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-image: url("img/leaf.png");
    background-repeat: no-repeat;
    background-position: right;
}

.achievements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 80px;
    background-color: #F4F1DE;
    background-image: url("img/butterfly-green.png");
    background-repeat: no-repeat;
    background-position: 80px 50px;
    background-blend-mode: luminosity;
}

.achievements__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.achievements__list {
    display: flex;
    gap: 50px;
}

.achievements__title {
    font-size: 36px;
    font-family: "Acme", sans-serif;
    color: #5E3085;
    margin-bottom: 60px;
}

.achievements__medal {
    width: 80px;
}

.achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    width: 300px;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-image: url("img/footer_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0;
    text-align: center;
    font-weight: bold;
}

.footer__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer__column i {
    color: #5E3085;
    font-size: 34px;
    margin-bottom: 20px;
}

.footer__social i {
    font-size: 38px;
    margin: 0 10px;
    cursor: pointer;
}